<p id="notice"><%= notice %></p>

<span class="text-center">
  <h1>Pedidos</h1>
</span>

  <script>
    function set_category (id) {
      var elem = document.getElementById("form" + id) // or $('#myform')[0] with jQuery
      $("#form" + id).submit();
    }
  </script>
  <div class="container">
    <% @requests.each do |request| %>
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text text-center"><small class="text-muted text-center"><%= request.received_at %> - <%= request.email %> </small></p>
          <p class="card-text h2 pb-4 pt-4"><%= request.request %> - <small><%= request.name %></small></p>
          
         
          <div class="p-4">
            <% @id = request.id %>
            <%= form_with(model: request, local: true, remote: true, :id => "form#{@id}", :class => "form-class") do |form| %>
            <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
              
              <%= b.check_box ({ disabled: false,
                :onclick =>  "set_category(`#{@id}`);"  }) %>
              <%= b.label %>
              <% end %>

            <% end %>
            <% @categories.each do |category| %>
            
            <% end %>
          </div>
          <div class="card-footer">
            <div class="d-inline p-2"><%= link_to 'Ver', request %></div>
            <div class="d-inline p-2"><%= link_to 'Editar', edit_request_path(request) %></div>
            <div class="d-inline p-2"><%= link_to 'Deletar', request, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <div class="d-inline p-2"><%= link_to 'Enviar', request_reply_request_path(request), data: { confirm: 'Tem certeza?' }, remote: true %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>



  


<br>

<%= link_to 'New Request', new_request_path %>
