<p id="notice"><%= notice %></p>

<span class="text-center">
  <h1>Pedidos</h1>
</span>

  <style>
    .hidden {position:absolute;visibility:hidden;opacity:0;}

    input[type=checkbox]:hover  {
      background-color: red;
    }

    input[type=checkbox] {
      position:absolute;visibility:hidden;opacity:0;
    }

  
    input[type=checkbox] + label {
      cursor: pointer;
      color: #4e94a2;
      border: 2px solid #4e94a2;
      border-radius: 3px;
      padding: .2em;
      padding-left: .6em;
      padding-right: .6em;
    } 

    input[type=checkbox]:hover + label {
      border-color: #0c4c6f;
      color:#305a63;
    } 

    input[type=checkbox]:checked + label {
      color: white;
      background-color:  #4e94a2;
    }


  </style>

  <script>
    function set_category (id) {
      var elem = document.getElementById("form" + id) // or $('#myform')[0] with jQuery
      console.log(id);
      $("#form" + id).submit();
    }

    // Confirm sending the Message and show loading
    $(document).ready(function(){
      $(".text_loading").hide();
      $(".button_send").click(function(event){
        event.preventDefault();
        if (confirm('Tem certeza?')) {
          $(this).hide();
          var request = this.getAttribute('request');
          $("#button_send" + request).hide();
          $("#text_loading" + request).show();
        } else {
          
        }
      });
    });
    

  </script>
  <div class="container">
   
    <% @requests.each do |request| %>
      <div id="<%= "request#{request.id}" %>" class="card" style="width: 100%;">
        <div class="card-body">
          <h4 class="card-title"></h4>

          <% if request.received_at.present? %>
            <p class="card-text text-center"><small class="text-muted text-center"><%= request.received_at %> - <%= request.email %> </small></p>
          <% end %>
          <p class="card-text h2 pb-4 pt-4"><%= request.request %> - <small><%= request.name %></small></p>
          
         
          <div class="p-4">
            <% id = request.id %>
            <%= form_with(model: request, local:true, remote: true, :id => "form#{id}") do |f| %>

              <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>

              <%= b.check_box id: "#{request.id}-#{b.value}", onchange: "set_category(#{id})" %>
              <%= b.label(:"data-value" => b.value, :for => "#{request.id}-#{b.value}" ) { b.text } %>

              <% end %>
            <% end %>
            <% @categories.each do |category| %>
            
            <% end %>
          </div>
          <div class="card-footer">
            <div class="d-inline p-2"><%= link_to 'Ver', request %></div>
            <div class="d-inline p-2"><%= link_to 'Editar', edit_request_path(request) %></div>
            <div class="d-inline p-2"><%= link_to 'Deletar', request, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            
            <div id="button_send#{request.id}" class="button_send" request="<%= request.id %>" class="d-inline p-2"><%= link_to 'Enviar', request_reply_request_path(request), remote: true %></div>
            <div id="<%="text_loading#{request.id}"%>" class="text_loading">Enviando...</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>



  


<br>

<%= link_to 'New Request', new_request_path %>
