<p id="notice"><%= notice %></p>

<h1 class="text-center">
  Relatório <%= @report.name %>
</h1>

<p class="text-center">
  <%= @count %> <%= "pedido".pluralize(@count) %> de <%=  @report.start_at.strftime("%d/%m/%Y") %> até  <%=  @report.end_at.strftime("%d/%m/%Y") %>
</p>
<% @categories.each do |category| %>
  <% requests = category.requests.joins(:request_status).merge(RequestStatus.where(:received_at => @report.start_at...@report.end_at).sent) %>
    <% unless requests.blank? %>
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Pedido</th>
            <th scope="col">Resposta</th>
          </tr>
        </thead>
        <h4 class="text-center m-2 p-3"><%= category.name %> </h4>
        <tbody>
          <% requests.each.with_index do |request, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= request.name %></td>
              <td><%= request.email %></td>
              <td><%= request.received_at.strftime("%d/%m/%Y %H:%M") %></td>
              <td><%= request.request_status.sent_at.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>


<%= link_to 'Editar', edit_report_path(@report), class: "d-print-none" %> |
<%= link_to 'Voltar', reports_path, class: "d-print-none" %>
